
.heading1{
    font-size: 400%;
    margin: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.text{
    float: left;
    width: 60%;
}

.options{
    float: left;
    padding: 3%;
    margin: 7%;
    margin-top: 0%;
    margin-left: 8%;
    border: 3px solid purple;
}

.heading2{
    font-size: 250%;
    margin-bottom: 10%;
}

.heading3{
    font-size: 150%;
    margin-bottom: 5%;
}

.image{
    float: left;
    width: 40%;
}

.clickbutton{
    color: purple;
}