.mcqbox{
    margin: 10%;
    margin-left: 15%;
    margin-bottom: 5%;
    width: 100%;
    padding: 7%;
    border: 3px solid purple;
}

.Typeselect{
    font-size: 150%;
    margin: 2%;
}


.questionHeading{
    margin: 1%;
    font-size: 140%;
}

.questionbox{
    margin: 0%;
    padding: 0%;
}